
src/SanaStore/.vs/SanaStore/FileContentIndex/067b6594-65ce-4833-9b15-7cee6b3df2fc.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/93d76a5c-12bd-4812-8ac9-e7039a916067.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/a503a991-9cb8-4546-a4f3-f4e5706706e5.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/c1e1ba23-08a8-4d99-8968-49869dd0c970.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/cbc1f996-ab5a-4980-b16f-831863afca43.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/cfd4c701-fccf-49bf-888c-ebe97449d8b2.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/d0305ab8-c762-4764-a311-f00e37496ed5.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/f6545974-6a2e-4102-8fd5-b040ee8f3d62.vsidx
src/SanaStore/.vs/SanaStore/v17/.suo
src/SanaStore/.vs/SanaStore/v17/DocumentLayout.json
src/SanaStore/SanaStore.Api/Controllers/SanaStoreController.cs
src/SanaStore/SanaStore.Aplication/Orders/IPostOrdersInputPort.cs
src/SanaStore/SanaStore.Aplication/Products/IGetProductsOutputPort.cs
src/SanaStore/SanaStore.Aplication/UseCases/GetProducts.cs
src/SanaStore/SanaStore.Aplication/UseCases/PostOrder.cs
src/SanaStore/SanaStore.Domain/Abstractions/IProductsRepository.cs
src/SanaStore/SanaStore.Infraestructure/Repositories/OrderRepository.cs
src/SanaStore/SanaStore.Infraestructure/Repositories/ProductRepository.cs
src/SanaStore/.vs/SanaStore/FileContentIndex/93d76a5c-12bd-4812-8ac9-e7039a916067.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/a503a991-9cb8-4546-a4f3-f4e5706706e5.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/c1e1ba23-08a8-4d99-8968-49869dd0c970.vsidx
src/SanaStore/.vs/SanaStore/FileContentIndex/cfd4c701-fccf-49bf-888c-ebe97449d8b2.vsidx
